@mixin karte_x ($karte_x, $stern, $karte_gruen){

.kart_#{$karte_x}
{
  position: relative;
  max-width: 20rem;
  min-width: 20rem;
  height: 31rem;
  overflow: hidden;
  margin: 5px 0px;
  transition: 1s ease-in-out, z-index 1s;
  z-index: 1;
  &__img
  {
    width: 100%;
    transition: filter 1s ease-in-out;
  }
  &__icon
  {
    position: absolute;
    width: 4.5em;
    height: 4.5em;
    background-color: $karte_gruen;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    z-index: 2;
    //
      &::before{
        display: block;
        padding: 0.8em 0.6em 0.6em 0.6em;
        font-weight: 800;
        font-size: 1.5em;
        transition: 0.5s ease-in-out;
    }
    &--svg
    {
      position: absolute;
      display: none;
      fill:#fff;
    }

    @include icon_sterne($stern);
  }
}


.kart_#{$karte_x}:hover .kart_#{$karte_x}__icon
{
  width: 100%;
  transition: width 0.5s ease-in-out;
  &::before{
  position: absolute;
  padding: 0.6em;
  font-weight: 100;
  font-size: 0.5rem;
  transition: 0.5s ease-in-out;
  opacity: 0.0
  }
  &--svg
  {
    position: absolute;
    width: 15rem;
    stroke: #000;
    stroke-width: 0.03261;
    fill-opacity: 0.75;
    fill-rule: evenodd;
    padding: 10px 5px 5px 5px;
    margin-left: 2.5rem;
    display: block;
  }

  @include icon_sterne($stern);
}

.karte_#{$karte_x}__content
{
  padding: 2rem 2rem 0rem 2rem;
  width: 16rem;
  position: absolute;
  bottom: 0rem;
  text-shadow: 0px 0px 3px rgb(64, 64, 64);
  background-image: linear-gradient(180deg, transparent 20%, rgba(0, 0, 0, 0.39) 60%);
  transform: translate(0, calc(100% - 8.5rem));
  transition: transform 1s ease-in-out;
    &--titel
    {
      font-size: 1.4em;
      color: #fff;
      text-transform: uppercase;
      bottom: 0.6rem;
      position: relative;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  &__ort
  {
    display: flex;
    bottom: 0.5rem;
    position: relative;
    &--a
    {
      text-decoration: none;
    }
    &--p
    {
      text-decoration: none;
      color: #fff;
      padding-left: 0.5em;
      line-height: 2em;
      font-weight: 600;
      position: absolute;
    }

    &--svg
    {
      width: 1.5rem;
      fill:#fff;
      stroke-width: 2;
      font-size: 12px;
    }

  }
  &--text
  {
    background-image: linear-gradient(90deg, $karte_gruen 80%, transparent 80%);
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 30% 0.2rem;
    color: #fff;
    padding-top: 0.8em;
    transition: 1s ease-in-out;
  }
}
.kart_#{$karte_x}:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #000;
  transition: 1s ease-in-out, z-index 1s;
  z-index: 999;
  & .kart__img
   {
     filter:brightness(80%);
     transition: filter 1s ease-in-out;
   }
& .karte_#{$karte_x}__content
{
  transform: translate(0, 0%);
  transition: transform 1s ease-in-out;
  &--text
  {
    background-size: 100% 0.2rem;
    transition:  1s ease-in-out;
  }
}
}
}
@mixin icon_sterne ($stern_velue){
  @if $stern_velue == 0{
    &::before{
      content: "0.0";
    }
    &--1
    {
      fill: none;
    }
    &--2
    {
      fill: none;
    }
    &--3
    {
      fill: none;
    }
    &--4
    {
      fill: none;
    }
    &--5
    {
      fill: none;
    }
  }
    @else if $stern_velue == 1{
      &::before{
        content: "1.0";
      }
      &--1
      {
        fill:rgb(250, 255, 0);
      }
      &--2
      {
          fill: none;
      }
      &--3
      {
          fill: none;
      }
      &--4
      {
          fill: none;
      }
      &--5
      {
          fill: none;
      }
    }
    @else if $stern_velue == 0.5{
      &::before{
        content: "0.5";
      }
      &--1
      {
        fill:url(#halp_stern);
      }
      &--2
      {
        fill: none;
      }
      &--3
      {
          fill: none;
      }
      &--4
      {
          fill: none;
      }
      &--5
      {
          fill: none;
      }
    }
    @else if $stern_velue == 2{
      &::before{
        content: "2.0";
      }
      &--1
      {
        fill:rgb(250, 255, 0);
      }
      &--2
      {
        fill:rgb(250, 255, 0);
      }
      &--3
      {
          fill: none;
      }
      &--4
      {
          fill: none;
      }
      &--5
      {
          fill: none;
      }
    }
    @else if $stern_velue == 1.5{
      &::before{
        content: "1.5";
      }
      &--1
      {
        fill:rgb(250, 255, 0);
      }
      &--2
      {
        fill:url(#halp_stern);
      }
      &--3
      {
        fill: none;
      }
      &--4
      {
          fill: none;
      }
      &--5
      {
          fill: none;
      }
    }
    @else if $stern_velue == 3{
      &::before{
        content: "3.0";
      }
      &--1
      {
        fill:rgb(250, 255, 0);
      }
      &--2
      {
        fill:rgb(250, 255, 0);
      }
      &--3
      {
        fill:rgb(250, 255, 0);
      }
      &--4
      {
        fill: none;
      }
      &--5
      {
          fill: none;
      }
    }
    @else if $stern_velue == 2.5{
      &::before{
        content: "2.5";
      }
      &--1
      {
        fill:rgb(250, 255, 0);
      }
      &--2
      {
        fill:rgb(250, 255, 0);
      }
      &--3
      {
        fill:url(#halp_stern);
      }
      &--4
      {
          fill: none;
      }
      &--5
      {
          fill: none;
      }
    }
    @else if $stern_velue == 4{
      &::before{
        content: "4.0";
      }
      &--1
      {
        fill:rgb(250, 255, 0);
      }
      &--2
      {
        fill:rgb(250, 255, 0);
      }
      &--3
      {
        fill:rgb(250, 255, 0);
      }
      &--4
      {
        fill:rgb(250, 255, 0);
      }
      &--5
      {
          fill: none;
      }
    }
    @else if $stern_velue == 3.5{
      &::before{
        content: "3.5";
      }
      &--1
      {
        fill:rgb(250, 255, 0);
      }
      &--2
      {
        fill:rgb(250, 255, 0);
      }
      &--3
      {
        fill:rgb(250, 255, 0);
      }
      &--4
      {
        fill:url(#halp_stern);
      }
      &--5
      {
        fill: none;
      }
    }
    @else if $stern_velue == 5{
      &::before{
        content: "5.0";
      }
      &--1
      {
        fill:rgb(250, 255, 0);
      }
      &--2
      {
        fill:rgb(250, 255, 0);
      }
      &--3
      {
        fill:rgb(250, 255, 0);
      }
      &--4
      {
        fill:rgb(250, 255, 0);
      }
      &--5
      {
        fill:rgb(250, 255, 0);
      }
    }
    @else if $stern_velue == 4.5{
      &::before{
        content: "4.5";
      }
      &--1
      {
        fill:rgb(250, 255, 0);
      }
      &--2
      {
        fill:rgb(250, 255, 0);
      }
      &--3
      {
        fill:rgb(250, 255, 0);
      }
      &--4
      {
        fill:rgb(250, 255, 0);
      }
      &--5
      {
      fill:url(#halp_stern);
      }
    }
}
